body{
    margin: 0;
    padding: 0;
}

.main-navbar{
    display: flex;
    justify-content: space-around;
}

.menu-navbar-dropdown{
    position: relative;
    display: inline-block;
}

#slider{
    display: flex;
}

.slider1{
    display: flex;
}

.inner-block{
    justify-content: space-around;
    align-self: stretch;
    align-items: center;
    margin-top: 24px;
    display: flex;
}

.block1{
    background-color: #fff;
    border-radius: 8px;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    display: flex;
    max-width: 100%;
    margin-right: 4%;
    margin-top: 30px;
}

.test-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8%;
    margin-left: 0;
    margin-right: 16px;
    padding-top: 0;
}

.inner-inner-block{
    /* display: flex; */
}

.main-list{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    top: 30px;
    min-width: 200px;
    font-family: 14px sans-serif;
}

.menu-navbar-dropdown:hover .main-list{
    display: block;
}

.menu-navbar-dropdown{
    display: flex;
    cursor: pointer;
    /* justify-content: space-evenly; */
}

.main-navbar img{
    height: 60px;
}

.navbar-menu1{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-size: 20px;
}

.main-dropdown-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px
}

.right-menu{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 20px;
}

.right-menu a{
    color: white;
}

/* .proposal{
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin: 10px 10px 10px 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    font-size: 12px;
    text-decoration: none;
} */

.navbar2{
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.hero-header{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    margin: 50px 10px 10px;
    padding: 0px 00px;
}

h1.hero-subheader{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.proposal{
    line-height: inherit;
    cursor: pointer;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.4px;
    /* text-transform: uppercase; */
    margin: 10px 10px 10px 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    color: white;

}

.main-list{
    border: 2px solid white;
    width: auto;

}

.main-list a{
    text-decoration: none;
    color: aliceblue;
}

.main-list img{
    height: 30px;
    left: 0;
}

.menu-list1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.menu-list2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.menu-list3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.menu-list4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.img-navbar{
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 60px;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    padding: 10px 0px 0px;
    margin: 0px 0px 0px 20px;
    display: flex;
    justify-content: space-evenly;
}

.img-navbar img{
    max-width: 30%;
    height: 80px;
    margin-left: 20px;
    padding-top: 10px;
    display: inline-block;
    overflow-clip-margin: content-box;
    overflow: clip;
}

#upper-body{
    position: relative;
}

.master-navbar{
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
}

.container{
    height: 600px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    column-gap: -3;
}

.text{
    /* border: 2px solid red; */
    max-width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    margin-left: 80px;
}

.text h1{
    font-size: 45px;
}

.text p{
    font-size: 23px;
}

.side-image{
    /* border: 1px solid black; */
    width: 30%;
    height: 500px;
    margin-top: 50px;
    text-align: left;
}
.side-image img{
    height: 90%;
}

.middle-page{
    margin-top: 50px;
    height: 300px;
    width: 100%;
    /* border: 2px solid black; */
    background-color: #fa824c;
}

.container-20{
    /* border: 1px solid purple; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features-wrapper{
    text-align: center;
}

.fig-title{
    margin-bottom: 8px;
    font-size: 44px;
    font-weight: 600;
    line-height: 48px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.fig1{
    font-size: 22px;
    color: white;
    font-family:sans-serif;
    font-weight: bold;
}

.major-page{
    /* border: 2px solid red; */
    height: 600px;
    width: 100%;
    padding: 150px 30px;
    background-color: #f4f6f8;
}

.container-23{
    width: 100%;
    max-width: 940px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.title1{
    text-transform:uppercase;
    color: #fa824c;
}

.para{
    max-width: 530px;
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 22px;
}

.head1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    font-family: sans-serif;
}

.image_slide{
    height: 50%;
    margin-top: 50px;
}